.container {
    border: 1px solid red;
}

a {
    text-decoration: none;
}

.list-group-item {
    color: red;
}

.main-nav {
    background-color: green;
}

.card {
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    background-color: grey;
    text-align: center;
}

.grid-container {
    display: grid;
    border: 1px solid red;
    /* grid-template-comment */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        /* repeat(repeat-count, tracks): repeats a set of columns/rows in a grid*/
        /* auto-fit: repeats as many times as needed to fill the grid container*/
        /* minmax(): defines size range of the columns */
    gap: 0.5em;
}