@import url("side-bar.css");
@import url("blog-container.css");

body {
    font-family: 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--nav-color);
}

.content {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    height: 94vh;
    max-width: 99vw;
    padding-top: 1em;
}


.link-block {
    /* border: 1px solid red; */
    padding: 1em
}

.grid-container {
    display: grid;
    border: 1px solid red;
    /* grid-template-comment */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        /* repeat(repeat-count, tracks): repeats a set of columns/rows in a grid*/
        /* auto-fit: repeats as many times as needed to fill the grid container*/
        /* minmax(): defines size range of the columns */
    gap: 0.5em;
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    padding : 1em;
    color: red;
    font-size : 0.8em
}

:root {
    --base-padding: 20px;
    --border-color-regular: #00000014;
    --description-text-medium: #000000a8;
    --blog-title-dark: #111;
    --text-color-regular: #040404;
    --nav-color: #0009;
    --border-radius-400: 0.375rem;
    --text-color-hover: rgb(62, 104, 241);
}