body {
    width: 95%;
    margin: 0 auto;
    font-size: 25px;
    background-color: #201f1e;
    color: whitesmoke;
}

.question {
    width: 95%;
    margin: 0 auto;
    padding: 0.5em;
}

h1 {
    font-size: 3em;
    color: gold;
    margin: 4%;
    text-align: right;
    overflow-wrap: break;
}

.images {
    width: 45%;
    margin: 0 auto;
}

footer {
    margin-top: 5%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    font-size: 1.5em;
}

a:visited {
    color: inherit; /* Visited link text color */
}

@media screen and (max-width: 800px) {
    .question {
        font-size: 80%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .images {
        width: 80%;
        margin: 0 auto;
    }
    
}